.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 16px;
	position: relative;
	z-index: 10;
}

.header-balance {
	background: #fff;
	flex: 1;
	padding: 8px 10px;
	border: 2px solid #000;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	box-shadow: 4px 4px 0px #000000;
}

.header-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 16px;
	list-style: none;
	margin: 0;
}

.header-nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	padding: 8px 10px;
	border: 2px solid #000;
	font-size: 20px;
	line-height: 20px;
	color: #000;
	text-decoration: none;
	box-shadow: 4px 4px 0px #000000;
	background: #fff;
	height: 40px;
}

.header-nav .shop a {
	color: #a263f6;
	border-color: #a263f6;
	box-shadow: 4px 4px 0px #a263f6;
}

.daily-active,
.profile-active {
	background: #000 !important;
	color: #fff !important;
}

.shop-active {
	background: #a263f6 !important;
	color: #fff !important;
}
